:host ::ng-deep .p-multiselect-panel .p-multiselect-header {
  background-color: red;
}

:host ::ng-deep .p-checkbox {
  display: none !important;
}

:host ::ng-deep .p-dropdown {
  width: 230px;
  height: 40px;
  text-align: left !important;
}

:host ::ng-deep .p-multiselect {
  width: 230px;
  height: 40px;
  text-align: left !important;
}

:host ::ng-deep .p-dropdown input {
  display: none;
}

:host ::ng-deep .p-multiselect input {
  display: none;
}
