<div class="main p-5">
  <div class="login-page" *ngIf="!isAuthorized; else main">
    <fixtab-login-page></fixtab-login-page>
  </div>
  <ng-template #main>
    <!-- <div class="main grid">
      <div class="menu col-fixed" style="width: 20%">
        <fixtab-menu></fixtab-menu>
      </div>
      <div class="main-content col">
        <router-outlet></router-outlet>
      </div>
    </div> -->
    <!-- <router-outlet></router-outlet> -->
    <fixtab-main></fixtab-main>
  </ng-template>
</div>
